<!DOCTYPE html>
<html lang="en">
    
<%- include ('./../partials/head.ejs') %>
<body>
    <%- include ('./../partials/header.ejs') %>   
    <%- include ('./listado.ejs') %>
    <%- include ('./../partials/footer.ejs') %>
    <%- include ('./../partials/bootstrapJs.ejs') %>
    <script src="/js/validationRegisterFront.js"></script>
</body>
</html>