<!DOCTYPE html>
<html>
<%- include ('./../partials/head.ejs') %>
<body>
    <%- include ('./../partials/header.ejs') %>
    <article class="main-product">
        <section class="product-photo">
            <div class="product-photo-left">
                <img src="<%=producto.imagen%>" class="product-photo-img" alt="mate" name="imagen" id="imagen">
            </div>
            <div class="product-buy-options">
                <h2><%=producto.nombre%></h2>
                <h3>$ <%=producto.precio%></h3>
                <h4><%=producto.cuota%> cuotas sin interés</h4>
                <h5>Ver formas de pago</h4>
                <form action="/carrito" method="post" class="form-options">
                    <div class="form-options-color-amount">
                        <div class="form-options-color">
                            <label for="color">Color</label>
                            <select name="color" id="color">
                                <option value="negro">Negro</option>
                                <option value="marron">Marrón</option>
                            </select>
                        </div>
                        <div class="form-options-amount">
                            <label for="cantidad">Cantidad</label>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="10"> 
                        </div>
                    </div>
                    <div class="form-zip-code">
                        <form action="#" method="get">
                            <label for="zip-code">Calculá el costo de envío</label>
                            <div class="form-zip-code-search-submit">
                                <input type="search" placeholder="Ingresá tu código postal" aria-label="Buscar">
                                <button type="submit">Calcular</button>
                            </div>
                        </form>
                    </div>
                    <div>
                    <button type="submit" class="btn-buy">Comprar Ahora</button>
                    <button type="submit" class="btn-cart">Agregar al Carrito</button>
                    </div>
                    <div>
                        <a href="/products/edit/<%=producto.id%>"><button type="submit" class="btn-buy">Editar</button></a>
                        <form action="/products/delete/<%=producto.id%>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-cart">Borrar Producto</button>
                        </form>
                    </div>
                </form>
            </div>
        </section>
        <section class="product-descriptions">
            <h2>DESCRIPCIÓN DEL PRODUCTO</h2>
            <p>
                <%=producto.descripcion%>
            </p>
        </section>
    </article>
    
    <%- include ('./../partials/footer.ejs') %>
    <%- include ('./../partials/bootstrapJs.ejs') %>
</body>
</html>