<!DOCTYPE html>
<html lang="en">
<%- include ('./../partials/head.ejs') %>
<body>
  <%- include ('./../partials/header.ejs') %>
  <main>

    <!-- carrusel (aun no funciona, faltan rutas en app.js)-->
    <div class="container">
      <div class="row">
        <div class="col align-items-center d-flex">
          <h4 class="p-2 mr-1"><i class="bi bi-arrow-right-circle-fill"></i> Editar un producto</h4>
        </div>
      </div>
    </div>

    <!-- comienza el contenedor de productos-->
    <div class="container">
      <div class="row text-secondary mt-4 mb-4">
        
        <!-- Formulario de carga de productos -->
        <div class="col-md-6">
          <form action="/products/edit/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="errores">
              <ul></ul>
            </div>
            
            <!-- Nombre de Producto -->
            <div class="mb-3">
              <label for="nombre">Nombre del producto</label>
              <br>
              <input 
                type="text" 
                class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>"
                value="<%=producto.nombre%>"
                name="nombre" 
                id="nombre" 
                placeholder="Ingresa un nombre de producto"
              >
              <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %>
                </div>
              <% } %>
            </div>
            <br>

          <!-- Categoria -->
            <div class="form-group">
              <label for="categoria">Categoría</label>
              <select 
                class="custom-select <%= locals.errors && errors.categoria ? 'is-invalid' : null %>" 
                name="categoria" 
                id="categoria"
              >
                <option value="<%=producto.categoria_id%>"><%=producto.categoria_id%></option>
                <option value="1" <%= locals.oldData && locals.oldData.categoria === '1' ? 'selected' : null %>>Yerbas</option>
                <option value="2" <%= locals.oldData && locals.oldData.categoria === '2' ? 'selected' : null %>>Mates</option>
                <option value="3" <%= locals.oldData && locals.oldData.categoria === '3' ? 'selected' : null %>>Bombillas</option>
                <option value="4" <%= locals.oldData && locals.oldData.categoria === '4' ? 'selected' : null %>>Termos</option>
                <option value="5" <%= locals.oldData && locals.oldData.categoria === '5' ? 'selected' : null %>>Sets</option>
              </select>
              <% if (locals.errors && errors.categoria) { %>
                <div class="text-danger">
                    <%= errors.categoria.msg %>
                </div>
              <% } %>
            </div>
            <br>

          <!-- Estado -->
            <div class="form-group">
              <label for="estado">Estado</label>
              <select 
                class="custom-select <%= locals.errors && errors.estado ? 'is-invalid' : null %>" 
                name="estado" 
                id="estado"
              >
                <option value="<%=producto.estado%>"><%=producto.estado%></option>
                <option value="En Oferta" <%= locals.oldData && locals.oldData.estado === 'En Oferta' ? 'selected' : null %>>En Oferta</option>
                <option value="Ultimos Agregados" <%= locals.oldData && locals.oldData.estado === 'Ultimos Agregados' ? 'selected' : null %>>Últimos Agregados</option>
              </select>
              <% if (locals.errors && errors.estado) { %>
                <div class="text-danger">
                    <%= errors.estado.msg %>
                </div>
              <% } %>
            <br>
            <br>

          <!-- Imagen -->
            <div class="custom-file">
              <label class="form-label" for="imagen">Seleccionar una imagen</label>
              <input 
                type="file" 
                class="form-control <%= locals.errors && errors.imagen ? 'is-invalid' : null %>"  
                id="imagen" 
                name="imagen"
                value="<%=producto.imagen%>"
              >
              <% if (locals.errors && errors.imagen) { %>
                <div class="text-danger">
                    <%= errors.imagen.msg %>
                </div>
              <% } %>
            </div>
            <br>
            <br>

          <!-- Descripción -->
            <div class="form-group">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea
                class="form-control <%= locals.errors && errors.descripcion ? 'is-invalid' : null %>" 
                id="descripcion" 
                name="descripcion"  
                rows="3"
                placeholder="Describe el producto"
              ><%=producto.descripcion%></textarea>
              <% if (locals.errors && errors.descripcion) { %>
                <div class="text-danger">
                    <%= errors.descripcion.msg %>
                </div>
              <% } %>   
            </div>
            <br>

          <!--Precio,descuento, cuotas y stock-->
            <div class="form-options-color-amount">
              <div class="form-options-amount" style="padding-left:0px">
                <label for="precio">Precio de venta</label>
                <input 
                  type="number" 
                  class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>"
                  value="<%=producto.precio%>" 
                  id="precio" 
                  name="precio"
                >
                <% if (locals.errors && errors.precio) { %>
                  <div class="text-danger">
                      <%= errors.precio.msg %>
                  </div>
                <% } %>
              </div>
              <div class="form-options-amount">
                <label for="descuento">Descuento</label>
                <input 
                  type="number" 
                  id="descuento" 
                  name="descuento"
                  value="<%=producto.descuento%>" 
                >
              </div>
              <div class="form-options-amount">
                <label for="cuota">Cuotas</label>
                  <select class="form-select rounded-2" style="height: 40px" name="cuota" id="cuota">
                    <option value="<%=producto.cuota%>"><%=producto.cuota%></option>
                    <option>1 cuota</option>
                    <option>3 cuotas</option>
                    <option>6 cuotas</option>
                    <option>12 cuotas</option>
                  </select>
              </div>
              <div class="form-options-amount">
                <label for="stock">Stock</label>
                <input 
                  type="number" 
                  class="form-control <%= locals.errors && errors.stock ? 'is-invalid' : null %>"
                  value="<%=producto.stock%>"  
                  id="stock" 
                  name="stock"
                >
                <% if (locals.errors && errors.stock) { %>
                  <div class="text-danger">
                      <%= errors.stock.msg %>
                  </div>
                <% } %>
              </div>
            </div>
            </div>
            <br>

          <!--Usuario-->
            <label for="usuario">Email del usuario</label>
            <input 
                type="text" 
                class="form-control <%= locals.errors && errors.usuario ? 'is-invalid' : null %>" 
                value="<%= locals.oldData ? oldData.usuario : null %>" 
                name="usuario" 
                id="usuario" 
                placeholder="34"
            >
            <% if (locals.errors && errors.usuario) { %>
              <div class="text-danger">
                <%= errors.usuario.msg %>
              </div>
            <% } %>
            <br>

          <!--Botón cargar-->
            <button type="submit" class="btn btn-primary my-1">Guardar Cambios</button>
          </form>
          </div>
        </div>
      </div>
  </main>

  <!-- aqui comienza el footer-->
  <%- include ('./../partials/footer.ejs') %>
  <%- include ('./../partials/bootstrapJs.ejs') %>
</body>
</html>
