<!DOCTYPE html>
<html lang="en">
<%- include ('./../partials/head.ejs') %>
<body>
  <%- include ('./../partials/header.ejs') %>

  <div class="container">
    <div class="row text-secondary mt-4 mb-4">
      <% productos.forEach((productos) => { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="width: 18rem;">
            <a href="/products/productDetail/<%=productos.id%>">
            <img class="card-img-top img-fluid" src="<%= productos.imagen %>" alt="Card image cap"> </a>
            <div class="card-body">
              <h5 class="card-title"><%= productos.nombre %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="block-products-feed__product-price text--primary">
                  $<%= productos.precio %> 
                  <% if (productos.descuento === null) { %>
                    <%= "" %>
                  <% } else { %> 
                    (<%= productos.descuento %>% de descuento)
                  <% } %>
                </div> 
              </li>
              <li class="list-group-item"><%= productos.cuota %></li>
              <li class="list-group-item"><%= productos.estado %></li>
            </ul>
            <!--<ul class="list-group list-group-flush">
              <li class="list-group-item"><%= productos.cuotas %> cuotas</li>
              <li class="list-group-item">
                <div class="block-products-feed__product-price text--primary">
                  "<%= productos.precio%>" <%= productos.descuento %>%
                </div>
              </li>
              <li class="list-group-item"><%= productos.estado %></li>
            </ul> -->
            <div class="card-body">
              <a href="/products/cart" class="btn btn-primary"><i class="bi bi-cart4"> Agregar al carrito</i></a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
      <%- include ('./../partials/footer.ejs') %>
      <%- include ('./../partials/bootstrapJs.ejs') %>
</body>
</html>