<!DOCTYPE html>
<html lang="en">
<%- include ('./../partials/head.ejs') %>
<body>
  <%- include ('./../partials/header.ejs') %>

  <div class="container">
    <div class="row text-secondary mt-4 mb-4">
      <% productos.forEach((producto) => { %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="width: 18rem;">
            <a href="/producto"></a>
            <img class="card-img-top img-fluid" src="<%= producto.imagen %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= producto.nombre %></h5>
              <p class="card-text"><%= producto.descripcion %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= producto.cuotas %> cuotas</li>
              <li class="list-group-item">
                <div class="block-products-feed__product-price text--primary">
                  "<%= producto.precioActual %>"<del><%= producto.precioAnterior %></del>
                </div>
              </li>
              <li class="list-group-item"><%= producto.estado %></li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary"><i class="bi bi-cart4"></i></a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
      <%- include ('./../partials/footer.ejs') %>
      <%- include ('./../partials/bootstrapJs.ejs') %>
</body>
</html>